.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--blue-line-bg);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.dashboard {
    width: 100%;
}
.header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.logo img {
    width: 100%;
}
.blue-line {
    background-color: var(--blue-line-bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bl-item {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-bottom: 2px solid var(--bl-item-border);
}
.blu-circle {
    width: 24px;
    height: 24px;
}
.aso {
    font-weight: bold;
}
.tab-content {
    display: flex;
    align-items: center;
}
.aso-text {
    margin: 0 8px;
}
.content-line {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dashboard-content {
    background-color: var(--content-bg);
    padding: 16px;
}
.ul3d {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 0;
}
.ul3d {
    color: var(--overal-ut-color);
}
.ul3d span:nth-child(1) {
    margin: 0 4px;
    font-weight: bold;
}

@media screen and (min-width: 425px) {
    .ul3d,
    .uptime-30-days,
    .overall-uptime {
        max-width: 400px;
        margin: auto;
    }
    .dashboard-content {
        padding: 32px;
    }
}
